/*Header Background*/
body {
	margin: 0px;
}

.header {
	width: 100%;
	background: #ffffff;
	height: 44px;
	margin-bottom: 30px;
}

/*My Name Block*/

.nameblock {
	color: #ffffff;
	background: #4aaaa5;
	padding: 20px 20px 8px 20px;
	width: 220px;
	display: inline;
	margin-top: 50px;
}

/*Nav bar items*/

.navbar {
	display: inline;
	right: 100px;
	margin-left: 500px;
}

/*background image set*/

.background {
	background-image: url("../images/dust.png");
}

/*Main Content Block*/

.content {
	height: 100%;
	width: 650px;
	background: #ffffff;
	margin: 0px 20px 0px 0px;
	border: 2px;
	border-color: #dedede;
}

/*Side bar with Float*/

.sidebar {
	position: absolute;
	height: 250px;
	width: 250px;
	margin: 0px 0px 0px 20px;
	background: #ffffff;
	top: 75px;	
	left: 690px;
}

/*Clear float both*/

.clearfloat {
	clear: both;
}

/*set image size*/

.image {
	height: 200px;
	width: 200px;
	float: left;
	padding: 0px 10px 0px 10px;
}

/*main footer*/

.footer {
	background: #666666;
	width: 100%;
	height: 100px;
	bottom: 0;
	position: fixed;
	text-align: center;
}

/*footer accent bar*/

.footeracc {
	background: #4ba9a5;
	width: 100%;
	height: 10px;
	bottom: 100px;
	position: fixed;
}

hr {
	width: 90%;
	margin-bottom: 20px;
}

.connect {
	padding: 0px 0px 0px 30px;
	color: #4aaaa5;
}

.aboutme {
	padding: 15px 0px 0px 10px;
	color: #4aaaa5;
}

.margintext {
	margin: 0px 10px 0px 10px;
}

.icons {
	width: 60px;
	height: 60px;
}

.bumper {
	margin-left: 30px;
}

.copy {
	display: inline;
	vertical-align: -350%;
	color: #ffffff;
}