/*Header Background*/
body {
	margin: 0px;
}

.center {
	width: 	960px;
	margin: 0 auto;
}

/*My Name Block*/
.nameblock {
	color: #ffffff;
	background: #4aaaa5;
	height: 60px;
	padding: 20px 20px 0px 20px;
	float: 	left;
	/*width: 220px;*/
	/*display: inline;*/
	/*margin-top: 50px;*/
	/*margin: 0 auto;*/
	margin: 0 auto;
	/*text-align: center;*/
	/*top: 50%;*/

}


/*Nav bar items*/

.navbar {
	float: 	right;
	padding-top: 	25px;
	/*right: 100px;*/
	

}

/*background image set*/

.background {
	background-image: url("../images/dust.png");
}

/*Main Content Block*/

.content {
	height: 100%;
	width: 650px;
	background: #ffffff;
	margin: 0px 0px 0px 0px;
	display: inline-block;	
	/*border: 2px;*/
	/*margin: 0 auto;*/
}

/*Side bar with Float*/

.sidebar {
	float: 	right;
	height: 250px;
	width: 270px;
	/*margin: 0px 0px 0px 0px;*/
	background: #ffffff;
	/*top: 112px;	*/
	/*left: 1120px;*/
}

/*Clear float both*/

.clearfloat {
	clear: both;
}

/*set image size*/

.image {
	height: 200px;
	width: 200px;
	float: left;
	padding: 0px 10px 0px 10px;
}

/*main footer*/

.footer {
	background: #666666;
	width: 100%;
	height: 100px;
	bottom: 0;
	position: fixed;
	text-align: center;

}

/*footer accent bar*/

.footeracc {
	background: #4ba9a5;
	width: 100%;
	height: 10px;
	bottom: 100px;
	position: fixed;
}

hr {
	width: 90%;
	margin-bottom: 20px;
}

.connect {
	padding: 0px 0px 0px 30px;
	color: #4aaaa5;
}

.aboutme {
	padding: 15px 0px 0px 10px;
	color: #4aaaa5;
}

.margintext {
	margin: 0px 10px 0px 10px;
}

.icons {
	width: 60px;
	height: 60px;
}

.bumper {
	margin-left: 30px;
}

.copy {
	display: inline;
	vertical-align: -350%;
	color: #ffffff;
}

.maxw {
	width: 600px;
}

.header {
	width: 960px;
	background: #ffffff;
	height: 80px;
	margin-bottom: 30px;
	border-bottom: 2px solid #cecece;
	/*margin: 0 auto;*/
}