/*Header Background*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	margin: 0px;
}

.center {
	width: 	960px;
	margin: 0 auto;
}

.twoh {
	width: 200px;
	height: 200px;
}


/*My Name Block*/
.nameblock {
	color: #ffffff;
	background: #4aaaa5;
	height: 60px;
	padding: 20px 20px 0px 20px;
	float: 	left;
	margin: 0 auto;
	/*text-align: center;*/
	/*top: 50%;*/
	/*width: 220px;*/
	/*display: inline;*/
	/*margin-top: 50px;*/
	/*margin: 0 auto;*/
}


/*Nav bar items*/

.navbar {
	float: 	right;
	padding-top: 	25px;
	padding-right: 15px;
	/*right: 100px;*/
	

}

/*background image set*/

.background {
	background-image: url("../images/dust.png");
}

/*Main Content Block*/

.content {
	height: 100%;
	width: 650px;
	background: #ffffff;
	margin: 0px 0px 0px 0px;
	display: inline-block;	
	/*border: 2px;*/
	/*margin: 0 auto;*/
}

/*Side bar with Float*/

.sidebar {
	float: 	right;
	height: 250px;
	width: 270px;
	/*margin: 0px 0px 0px 0px;*/
	background: #ffffff;
	/*top: 112px;	*/
	/*left: 1120px;*/
}

/*Clear float both*/

.clearfloat {
	clear: both;
}

/*set image size*/

.image {
	height: 200px;
/*	width: 200px;*/
	float: left;
	padding: 0px 10px 0px 10px;
}

/*main footer*/

.footer {
	background: #666666;
	width: 100%;
	height: 100px;
	bottom: 0;
	position: fixed;
	text-align: center;

}

/*footer accent bar*/

.footeracc {
	background: #4ba9a5;
	width: 100%;
	height: 10px;
	bottom: 100px;
	position: fixed;
}

hr {
	width: 90%;
	margin-bottom: 20px;
}

.connect {
	padding: 0px 0px 0px 30px;
	color: #4aaaa5;
}

.aboutme {
	padding: 15px 0px 0px 10px;
	color: #4aaaa5;
}

.margintext {
	margin: 0px 10px 0px 10px;
}

.icons {
	width: 60px;
	height: 60px;
}

.bumper {
	margin-left: 30px;
}

.copy {
	display: inline;
	vertical-align: -350%;
	color: #ffffff;
}

.maxw {
	width: 600px;
}

.header {
	width: 960px;
	background: #ffffff;
	height: 80px;
	margin-bottom: 30px;
	border-bottom: 2px solid #cecece;
	/*margin: 0 auto;*/
}

/* unvisited link */
a:link {
    color: #0000ff;
}

/* visited link */
a:visited {
    color: #adc2eb;
}

/* mouse over link */
a:hover {
    color: #ff3300;
}

/* selected link */
a:active {
    color: #006600;
}

.portfolioimage {
	padding: 20px 20px 20px 20px;
		
}

.leftbump {
	margin-left: 80px;
}

.floattag1 {
	color: #ffffff;
	background: #4aaaaa;
	position: relative;
	/*top: 390px;*/
	width: 200px;
	text-align: center;
	left: 100px;
	bottom: 320px;

}

.floattag2 {
	color: #ffffff;
	background: #4aaaaa;
	position: relative;
	/*top: 390px;*/
	width: 200px;
	text-align: center;
	left: 344px;
	bottom: 368px;

}

.floattag3 {
	color: #ffffff;
	background: #4aaaaa;
	position: relative;
	/*top: 390px;*/
	width: 200px;
	text-align: center;
	left: 100px;
	bottom: 171px;

}

.floattag4 {
	color: #ffffff;
	background: #4aaaaa;
	position: relative;
	/*top: 390px;*/
	width: 200px;
	text-align: center;
	left: 344px;
	bottom: 220px;

}

/*for form*/

.button {
	margin: 20px 0px 0px 20px;
	
}

.message {
	margin: 20px 0px 0px 20px;
	height: 200px;
}

.nandm {
	margin: 20px 0px 0px 20px;

}

.topbump {
	margin-bottom: 10px;
}

.textup {
	font-family: 'Roboto Condensed', sans-serif;
}